.swiper-pagination {
    .swiper-pagination-bullet {
        opacity: 1;

        background-color: white;
        &-active {
          background-color: #A8263C;
        }
    }
}

.swiper-button-next {
  right: 5px !important;
  left: auto !important;
  &:after {
    font-size: 13px !important;
    font-weight: bolder;
  }

}
.swiper-button-prev{
    right: auto !important;
    left: 0px !important;
    &:after {
        font-size: 13px !important;
        font-weight: bolder;
      }
}
.swiper-pagination {
    position: relative !important ;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  background-color: white;
  border-radius: 50%;
  width: var(--swiper-navigation-size) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color));
}


:root {
  --swiper-theme-color: gray !important;
}

:root {
  --swiper-navigation-size: 44px;
}

.about {
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0% 16.6%;
    h2 {
        font-size: 40px !important;
        line-height: 40px;
        position:relative;
        &:after {
            content: "";
            position: absolute;
            right: 48%;
            left: 48%;
            bottom: -35px;
            border-bottom: 4px solid #fff;
        }
    }
    h5 {
        z-index: 5;
        left: 8%;
        top: 17px;
        
    }
    &-card {
        position: relative;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: none;
        border-radius: 0.25rem;
        &-body {
            padding: 0% 5%;
        }
    }
    .card-text {
        font-size: 12px;
        line-height: 17.38px;
        margin-bottom: 0%;
    }
    .card-title {
        color: white;
        &:before {
            content: '';
            /* 用伪元素来生成一个矩形 */
            max-width: 150px;
            height: 41px;
            position: absolute;
            top: 40%;
            z-index: 1;
            right: 0;
            bottom: 0;
            left: 3%;
            background-color: #414853;
            transform: skew(-20deg);
            
          }

    }

    

}
.mb-116 {
    margin-bottom: 10%;
}
.pt-100 {
    padding-top: 100px;
}