.section-operation {
  padding: 65px 16.66% 0 16.66%;
  @media screen and (max-width:767px) {
    padding: 0 8.33%;
  }

  .operation-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .line {
      color:$secondary , 60% ;
      margin: 0 15px;
    }
    
    @media screen and (max-width:767px) {
      flex-direction: column;
    }

    .welfare-type {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: wrap;
        @media screen and (max-width:767px) {
            display: none;
          }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:first-child) {
                &:before {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background-color: rgba(0,0,0,0.3);
                    margin: 0 20px;
                }
            }

            &.active {
                font-weight: bold;
                color: $primary;
            }
        }
    }

    .search-block {
      @media screen and (max-width:767px) {
        margin-top: 1rem ;
      }
    }
  }
}

.news-section-papers{
    padding: 0 16.66% 0 16.66%;
    @media screen and (max-width:767px) {
      padding: 0 5%;
    }

    i {
      color: $primary;
    }

    .card-width {
      width: 25rem;
    }
  
}

