@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
#performance {
    font-family: 'Noto Sans TC', sans-serif, 'Noto Serif TC', serif;
    //[Start] font-size 
    h6 {
        font-size: 1rem;
        color: #515C5C;
    }
    h5 {
       font-size: 1.125rem; 
    }
    h4 {
        font-size: 1.5rem;
        font-weight: 500;
        @media screen and (max-width:992px) {
          font-size: 1.125rem;
        }
    }
    h3 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 3rem;
    }
    h1 {
        font-size: 4rem;
        font-weight: 400;
        @media screen and (max-width: 992px) {
          font-size: 42px;
          line-height: 42px;
        }
    }
    p {
      color: #515C5C;
      @media screen and (max-width: 992px) {
        font-size: 14px;
      }
    }
    .box-padding {
        padding: 3%;
    }

    .mb-30 {
        margin-bottom: 30px;
    }

    .text-end {
        text-align: end !important;
    }
    .me-3 {
    margin-right: 1rem;
    }
    .web-d-none {
    display: none;
    color: #000 ;
    @media screen and (max-width:992px) {
        display: block;
    }
    }
    @media screen and (max-width: 992px) {
    .mobile-img {
        max-width: 100% !important;
        height: auto !important;
    }
    .mobile-relative {
        position: relative !important;
    }
    .mobile-absolute {
        position: absolute !important;
    }
    .mobile-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-padding {
        padding: 0 5%;
    }

    .mobile-column {
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile-mb-30 {
        margin-bottom: 30%;
    }
    .mobile-bottom-70 {
        bottom: 70%;
    }

    .mobile-font-22 {
        font-size: 22px;
        line-height: 40px;
    }

    .mobile-items-start {
        align-items: flex-start !important;
    }
    
    }
  
    .english {
        @media screen and (max-width:992px) {
        &-title {
            font-size: 42px !important;
            line-height: 56px !important;
            text-align: center !important;
        }
        }
        &-title {
        font-size: 55px;
        font-family: 'Noto Sans TC', sans-serif;
        color: #333333;
        margin-bottom: 15px;
        font-weight: 500;
        line-height: 65px;
        }
        &-content {
        font-size: 96px;
        }
        &-small {
        font-size: 40px;
        }
    }
    .banner {
        height: 360px;
        overflow: hidden;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        position: relative;
        padding: 0 16.66%;
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: center;
        p {
          display: none;
        }
        @media screen and (max-width: 992px) {
          background-position: 0% 50% !important;
          align-items: center;
          h1 {
            margin-bottom: 20px;
          }
          p {
            display: block;
            color: #fff;
            text-align: center;
            line-height: 14px;
          }
          .banner-column {
            flex-direction: column;
          }
        }
        @media(max-width: 768px) {
            padding-left: 8.33%;
            padding-right: 8.33%;
        }
    }
    button {
        border: 1px solid #fff;
        background-color: #fff;
    }
    .img-fluid {
        height: 100%;
    }
    .tab {
        margin-top: 3.5%;
        &-choose {
            background-color: white;
            width: 368px;
            height: 75px;
            border-radius: 12px;
            padding: 20px 64px;
            z-index: 5;
            h4 {
                color: rgba(81, 92, 92, 1);
            }
        }
        &-shadow {
            box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
        }
        button {
            z-index: 10;
        }
        .heighlight {
            position: relative;
            &:before {
              content: "";
              z-index: -1;
              position: absolute;
              height: 9px;
              bottom: 0;
              background: #93DBD8;
              width: 100%;
            }
          }
        li {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                &:before {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background-color: rgba(0,0,0,0.9);
                    margin: 0 15px;
                }
            }
            &.active {
                button {
                    color: rgba(252, 183, 18, 1);
                    font-weight: bold;
                    // color: rgba(252, 183, 18, 1);
                    border-bottom: 2px solid rgba(252, 183, 18, 1);
                    padding-bottom: 5px;
                }
            }
        }
    }

    .solar {
        &-card {
            position: relative;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
            border: 0.1px solid #fff !important;
            border-radius: 0.25rem;
          }
        &-bg {
            background-size: 20% !important;
            background-repeat: no-repeat !important;
            background-position: 100% 100% !important;
        }
        .card {
            z-index: 5;
        }
        .card-scrollBar {
            height: 865px;
            overflow: scroll;
            border: 1px solid #fff;
            padding: 5%;
        }
        .card-body {
            z-index: 10;
            &-heighlight {
                position: relative;
                &:before {
                  content: "";
                  z-index: -1;
                  position: absolute;
                  height: 9px;
                  bottom: 0;
                  background: rgba(255, 235, 147, 1);
                  width: 100%;
                }
            }
        }
    }
    
    .map {
        .bi-geo-alt-fill {
            color: #000;
        }
        .mapActive {
            color: rgb(172, 39, 39) !important;
        }

        .mapShow {
            display: block !important;
        }
    }
}
