
#poduct-detail-content {
    padding: 65px 16.66% 65px 16.66%;
    @media screen and (max-width:767px) {
    padding: 0 8.33%;
    }

    .img-block {
        padding-bottom: 20%;
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .content-block {
        h5 {
            font-weight: 900;
        }
        .share {
            .facebook-color {
                color: #4267B2;
            }
            .line-color {
                color: #00b900;
            }
            .twitter-color {
                color: #00acee;
            }
        }
    }

    .hr {
        display: block;
        width: 40px;
        border-bottom: solid 5px $primary;
        margin: 20px 0 ;
    }

    .info-content {
    padding: 20px 0;
        .item {
            position: relative;
            width: 20%;
            border-right: solid 1px #ddd;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-last-child(1) {
                border-right:none ;
            }
            p {
                margin-bottom: 0;
            }

            .icon-block {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 100%;
                height: 100%;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    display: inline-block;
                    margin-left: 3px;
                    margin-right: 3px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: bottom;
                    font-size: 25px;
                }

                i {
                    width: 65%;
                    height: 65%;
                    color: #f0f0f0;
                    margin-left: -10px;
                    text-align: center;
                    font-size: 4rem;
                    
                }
                
            }
        }
    }
}
.icon-money {
    background-image: url('/public/images/productWelfareId/icon_money.svg');
}

.icon-sun {
    background-image: url('/public/images/productWelfareId/icon_sun.svg');
}


