.publicWelfare_section{
    padding: 65px 16.66% 65px 16.66%;
    @media screen and (max-width:767px) {
        padding: 0 8.33%;
      }
    .welfare-type {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: wrap;
        @media screen and (max-width:767px) {
            display: none;
          }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:not(:first-child) {
                &:before {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background-color: rgba(0,0,0,0.3);
                    margin: 0 20px;
                }
            }

            &.active {
                font-weight: bold;
                color: $primary;
            }
        }
    }

    .search-block {
        @media screen and (max-width:767px) {
          margin-top: 1rem ;
        }
      }
    

    .welfare-list {
        padding: 40px 0px 0px 0px;
        // @media screen and(max-width:767px) {
        //     padding: 0;
        // }

        .welfare-card {
            display: flex;
            margin-bottom: 30px;
            cursor: pointer;

            .img-block {
                padding-bottom: 20%;
                width: 35%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .content-block {
                background-color: rgba(0,0,0,0.05);
                width: 65%;
                position: relative;

                .title {
                    display: flex;
                    margin: 30px 20px 10px 20px;

                    .welfare-name {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                @media only screen and (max-width : 800px) {
                    .title {
                        display: flex;
                        margin: 15px 20px 20px 20px;
                    }
                }

                .content {
                    margin: 0 20px 20px 20px;
                    font-size: 16px;
                }


                .money {
                    width: 100%;
                    /*background-color:ation #fff;*/
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    /*margin-bottom: 20px;*/
                    /*padding: 5px 20px;*/
                    position: absolute;
                    right: 20px;

                    > div:nth-child(1) {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    > div:nth-child(2) {
                        margin: 0 5px;
                        color: $primary;
                        font-weight: bold;
                    }

                    > div:nth-child(3) {
                        font-size: 12px;
                    }
                }
                /* typical phone screen resolution */
                @media only screen and (max-width : 800px) {
                    .money {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        position: absolute;
                        right: -20px;
                        margin-top: 20px;
                    }
                }
            }


            @media(max-width:767px) {
                flex-direction: column;

                .img-block {
                    width: 100%;
                    padding-bottom: 60%;
                }

                .content-block {
                    width: 100%;
                    .content {
                        height: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

//test wrap
// .wrapper {
//     display: flex;
//     margin: 50px auto;
//     width: 800px;
//     overflow: hidden;
//   /*   resize: horizontal; */
//     border-radius: 8px;
//     padding: 15px ;
//   }
//   .text {
//     font-size: 20px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     text-align: justify;
//     /* display: flex; */
//   /*   display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical; */
//     position: relative;
//     line-height: 1.5;
//     max-height: 4.5em;
//     transition: .3s max-height;
//   }
//   .text::before {
//     content: '';
//     height: calc(100% - 26px);
//     float: right;
//   }
//   .text::after {
//     content: '';
//     width: 999vw;
//     height: 999vw;
//     position: absolute;
//       margin-left: -100px;
//   }
//   .btn{
//     position: relative;
//     float: right;
//     clear: both;
//     margin-left: 20px;
//     font-size: 16px;
//     padding: 0 8px;
//     background: #3F51B5;
//     line-height: 24px;
//     border-radius: 4px;
//     color:  #fff;
//     cursor: pointer;
//     /* margin-top: -30px; */
//   }
//   .btn::after{
//     content:'展开'
//   }
//   .exp{
//     display: none;
//   }
//   .exp:checked+.text{
//     max-height: none;
//   }
//   .exp:checked+.text::after{
//     visibility: hidden;
//   }
//   .exp:checked+.text .btn::before{
//     visibility: hidden;
//   }
//   .exp:checked+.text .btn::after{
//     content:'收起'
//   }
//   .btn::before{
//     content: '...';
//     position: absolute;
//     left: -5px;
//     color: #333;
//     transform: translateX(-100%)
//   }