@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');
#social {
    font-family: 'Noto Serif TC', serif, 'Noto Sans TC', sans-serif;
    //[Start] font-size 
    h6 {
        font-size: 1rem;
        color: #515C5C;
    }
    h5 {
       font-size: 1.125rem; 
    }
    h4 {
        font-size: 1.5rem;
        font-weight: 900;
        @media screen and (max-width:992px) {
          font-size: 1.125rem;
        }
    }
    h3 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 3rem;
        @media screen and (max-width: 992px) {
          font-size: 42px ;
          line-height: 56px ;
        }
    }
    h1 {
        font-size: 4rem;
        font-weight: 400;
        @media screen and (max-width: 992px) {
          font-size: 42px;
          line-height: 42px;
        }
    }
    p {
      color: #515C5C;
      @media screen and (max-width: 992px) {
        font-size: 14px;
      }
    }
    .web-d-none {
      display: none;
      @media screen and (max-width:992px) {
        display: block;
      }
    }
    @media screen and (max-width: 992px) {
      .mobile-img {
        max-width: 100% ;
        height: auto ;
      }
      .mobile-relative {
        position: relative ;
      }
      .mobile-absolute {
        position: absolute ;
      }
      .mobile-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mobile-padding {
        padding: 0 5%;
      }

      .mobile-column {
        display: flex;
        flex-direction: column-reverse;
      }
      .mobile-mb-30 {
        margin-bottom: 30%;
      }
      .mobile-bottom-70 {
        bottom: 70%;
      }

      .mobile-font-22 {
        font-size: 22px;
        line-height: 40px;
      }

      .mobile-items-start {
        align-items: flex-start ;
      }
    
    }

    .english {
        @media screen and (max-width:992px) {
          &-title {
            font-size: 42px ;
            line-height: 56px ;
            text-align: center ;
          }
        }
        &-title {
          font-size: 55px;
          font-family: 'Noto Sans TC', sans-serif;
          color: #333333;
          margin-bottom: 15px;
          font-weight: 500;
          line-height: 65px;
        }
        &-content {
          font-size: 96px;
        }
        &-small {
          font-size: 40px;
        }
    }
    .mb-20 {
      margin-bottom: 20px;
    }
    .mb-25 {
      margin-bottom: 25px;
      @media screen and (max-width:992px) {
        margin-bottom: 15%;
      }
    }

    .mb-27 {
      margin-bottom:10%;
      @media screen and (max-width:992px) {
        margin-bottom: 0%;
      }
    }
    .mb-47 {
      margin-bottom: 47px;
    }
    .mb-100 {
      margin-bottom: 100px;
    }
    .mb-200 {
      margin-bottom: 200px;
      @media screen and (max-width:992px) {
        margin-bottom: 24%;
      }
    }

    .mb-205 {
      margin-bottom: 205px;
      @media screen and (max-width:992px) {
        margin-bottom: 28%;
      }
    }

    .mb-79 {
      margin-bottom: 79px;
    }
    .me-23 {
      margin-right: 23px;
    }
    .mb-30 {
      margin-bottom: 30px;
    }

    .pb-82 {
      padding-bottom: 82px;
    }
    .ps-167 {
      padding-left: 16.7%;
    }
    .sub-title {
      color: #333333 ;
      line-height: 40px;
      @media screen and (max-width:992px) {
        font-size: 22px;
        text-align: center;
      }
    }

    //[End] font-size 
    .banner {
        height: 360px;
        overflow: hidden;
        background-size: cover ;
        background-repeat: no-repeat ;
        background-position: 50% 50% ;
        position: relative;
        padding: 0 16.66%;
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: center;
        p {
          display: none;
        }
        @media screen and (max-width: 992px) {
          background-position: 0% 50% ;
          align-items: center;
          h1 {
            margin-bottom: 20px;
          }
          p {
            display: block;
            color: #fff;
            text-align: center;
            line-height: 14px;
          }
          .banner-column {
            flex-direction: column;
          }
        }
        @media(max-width: 768px) {
            padding-left: 8.33%;
            padding-right: 8.33%;
        }
    }
    // intro
    .intro {
        height: 349px;
        padding-bottom: 20px;
        margin-top: 10%;
        background-repeat: no-repeat;
        @media screen and (max-width:1660px) and (min-width:992px) {
          margin-top: 0%;
        }
        @media screen and (max-width: 992px) {
          background-size: contain ;
          background-repeat: no-repeat ;
          margin-top: 0%;
          padding: 0% 5.3%;
          height: auto;
          &-m174 {
            margin-top: auto ;
            p:first-child:first-letter {
                font-size: 2rem;
            }
        }
          &-right {
            left: 20% ;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          br {
            content:"";
            display:none ;
          }
          .mr-70 {
            margin-right: auto ;
          }
          .ml-70 {
            margin-left: auto ;
          }
          p {
            font-size: 28px;
          }
        }
        &-r {
          right: 11%;
          img {
            position: relative;
            bottom: 50px;
          }
        }
        &-m174 {
            margin-top: 174px;
            p:first-child:first-letter {
                font-size: 2rem;
            }
        }
        &-right {
          right: 12%;
          img {
            position: relative;
            bottom: 50px;
          }
        }
        .z-1 {
          z-index: -10;
        }
        .mr-70 {
            margin-right: 70px;
        }
        .ml-70 {
            margin-left: 70px;
        }
        small {
            display: block;
            font-size: 16px;
        }
        p {
          font-size: 24px;
        }
        .mb-14 {
            margin-bottom: 14px;
        }
        .mt-53 {
            margin-top: 53px;
        }
    }
    //intention
    .intention {
      &-right {
        right: 26%;
      }
      &-bg {
        background-repeat: no-repeat ;
        background-position: left bottom ;
      }
      @media screen and (max-width:1660px) and (min-width:992px) {
        .ps-167 {
          padding-left: 0%;
        }
        .mobile-d-none {
          display: none;
        }
        .mobile-d-block {
          display: block ;
        }
        .mobile-padding {
          padding: 0 5%;
          &-l {
            padding-left: 0%;
            max-width: 100%;
            height: auto;
          }
          &-r {
            padding-right: 0%;
            max-width: 100%;
            height: auto;
          }
        }
        .mobile-content {
          justify-content: center ;
          p {
            font-family: 'Noto Sans TC', sans-serif;
          }
          .z-4 {
            z-index: 10;
            img {
              position: relative;
              bottom: 30px ;
              left: 30% ;
            }
          }
        }
        .mobile-center {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      @media screen and (max-width:992px) {
        .ps-167 {
          padding-left: 0%;
        }
        .mobile-d-none {
          display: none;
        }
        .mobile-d-block {
          display: block ;
        }
        .mobile-padding {
          padding: 0 5%;
          &-l {
            right: 0%;
          }
          &-r {
            left: 0%;
          }
        }
        .mobile-content {
          justify-content: center ;
          p {
            font-family: 'Noto Sans TC', sans-serif;
          }
          .z-4 {
            z-index: 10;
            img {
              position: relative;
              bottom: 30px ;
              left: 30% ;
            }
          }
        }
      }
        .h4 {
          color: #515C5C;
        }
        .z-6{
            position: relative;
            z-index: 6;
        }

        .z-7 {
            position: absolute;
            // bottom: 52px;
            // right: 20%;
            z-index: 7;
            bottom: 52px;
            // right: 21.3%;
            right: 0%;
        }
        &-width {
            width: 630px;
        }
        .me-224 {
            margin-right: 224px;
        }
        .mb-35 {
          margin-bottom: 35px;
        }
        .mb-54 {
          margin:0 0 54px 0;
        }
        p {
          font-size: 18px;
          line-height: 32px;
          color: #515C5C;
        }

        .mb-55 {
          margin-bottom: 55px;
        }

        .pt-30 {
          padding-top: 30px;
        }
        .z {
          &-3 {
            z-index: 100;
            position: relative;
          }
          &-4 {
            z-index: 10;
            img {
              position: relative;
              bottom: 70px;
            }
          }
          &-5 {
            z-index: 5;
            position: absolute;
            right: 0%;
            img {
              position: relative;
            }
          }
        }
    }

    //tracking
    .tracking {
        @media screen and (max-width:1660px) and (min-width:992px) {
          &-card {
            position: relative;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
            border: 0.1px solid #fff ;
            border-radius: 0.25rem;
          }
          .p-30 {
            padding: 0 16.6% ;
          }
          .card-wrap {
            align-items: center;
            .tracking-reverse {
              display: flex;
              flex-direction: row-reverse;
            }
            .flex-row-reverse {
              flex-direction: column-reverse ;
            }
            .card-padding {
              padding: 35% 4.5% 7% 4.5%;
              &-reverse {
                padding: 35% 4.5% 7% 4.5%;
              }
            }
            .img-1-width {
              width:1200px ;
              margin-bottom: 5%;
            }
          }
        }
      @media screen and (max-width:992px) {
        &-card {
          position: relative;
          min-width: 0;
          word-wrap: break-word;
          background-clip: border-box;
          border: 0.1px solid #fff ;
          border-radius: 0.25rem;
        }
        .p-30 {
          padding: 0 5% ;
        }
        .card-wrap {
          .tracking-reverse {
            display: flex;
            flex-direction: row-reverse;
          }
          .flex-row-reverse {
            flex-direction: column-reverse ;
          }
          .card-padding {
            padding: 35% 4.5% 13.4% 4.5%;
            &-reverse {
              padding: 35% 4.5% 13.4% 4.5%;
            }
          }
          .img-1-width {
            width:800px ;
          }
        }
      }
      &-right {
        right: 15%;
      }
      &-bg {
        background-repeat: no-repeat ;
        background-position: 0% 50% ;
      }
      &-card {
        position: relative;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
      }
      .p-30 {
        padding: 0 16.66%;
      }
      .z-22 {
        z-index: 22;
      }
      .z-11 {
        z-index: 11;
        margin-left: 27%;
        margin-bottom: 8%;
      }
      .mb-97 {
        margin-bottom: 97px;
        @media screen and (max-width:1660px) and (min-width:993px) {
          margin-bottom: 24%;
        }
        @media screen and (max-width:992px) {
          margin-bottom: 24%;
        }
      }
      .mb-10 {
        margin-bottom: 10px;
      }
      .mb-126 {
        margin-bottom: 7.875rem;
        @media screen and (max-width:1660px) and (min-width:993px) {
          margin-bottom: 28%;
        }
        @media screen and (max-width:992px) {
          margin-bottom: 24%;
        }
      }

      .me-160 {
        margin-right: 10rem;
      }


      .me-65 {
        margin-right: 5%;
        @media screen and (max-width:1660px) and (min-width:993px) {
          margin-right: 0%;
        }
        @media screen and (max-width:992px) {
          margin-right: 0%;
        }
      }

      h5 {
        line-height: 32px;
        font-family: 'Noto Sans TC', sans-serif;
      }

      p {
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        font-family: 'Noto Sans TC', sans-serif;
        margin-bottom: 0;
      }
      .card-wrap {
        .tracking-reverse {
          display: flex;
          // flex-direction: row-reverse;
          @media screen and (max-width:1660px) and (min-width:993px) {
            flex-direction: column-reverse;
          }
          @media screen and (max-width:992px) {
            flex-direction: column-reverse;
          }
        }
        img {
          bottom: 0%;
          right: 0% ;
        }
      }

      .small {
        font-size: 12px;
      }
      .heighlight {
        position: relative;
        &:before {
          content: "";
          z-index: -1;
          position: absolute;
          height: 9px;
          top: 0.7rem;
          background: #FFEB93;
          width: 100%;
        }
      }
      .card-padding {
        padding: 45px 110px 45px 45px;
        &-reverse {
          padding: 45px 45px 45px 110px;
        }
      }

      .img-fluid {
        max-width: 100%;
      }
      .content-width {
        width: 100%;
      }
    }

    // goals
    .goals {
      @media screen and (max-width:1631px) and (min-width:993px) {
        justify-content: center ;
        flex-direction: column ;
        padding: 0% 16.6%;
        .bg {
          background-size: contain ;
          max-width: 100%;
          width: auto ;
          height: 400px ;
          border: 1px solid #fff;
          border-radius: 10px;
        }
        .mobile-relative {
          position: relative ;
        }
        // .mobile-location-width {
        //   font-size: 12px;
        //   background-size: contain ;
        //   background-repeat: no-repeat ;
        //   min-width: 100%;
        //   width: 50px ;
        //   height: 50px ;
        // }
        .location {
          position: relative;
          font-size: 30px;
          font-family: 'Noto Sans TC', sans-serif;
          color: #fff;
          &-eye {
            position: absolute ;
            bottom: 90% ;
            right: 46% ;
            
          }
          &-house {
            position: absolute;
            left: -20% ;
            bottom: 50% ;
          }
          &-sun {
            position: absolute;
            left: 85% ;
            bottom: 45% ;
          }
          &-logo {
            background-size: contain ;
            background-repeat: no-repeat  ;
            position: relative ;
          }
        }
        .item-center {
          display: flex ;
          justify-content: center ;
          align-items: flex-end ;
        }
        .ms-16 {
          display: flex ;
          margin-left: 0% ;
          align-items: center ;
        }
        .ms-691 {
          margin-left: 46% ;
          margin-top: 0% ;
          margin-bottom: 40%;
        }
        p {
          text-align: center;
        }
        .z-green {
          padding-top: 10%;
        }
      }
      @media screen and (max-width: 992px) {
        flex-direction: column ;
        .bg {
          background-size: contain ;
          max-width: 100%;
          width: auto ;
          height: 400px ;
        }
        .mobile-relative {
          position: relative ;
        }
        .mobile-location-width {
          font-size: 12px;
          background-size: contain ;
          background-repeat: no-repeat ;
          min-width: 100%;
          width: 50px ;
          height: 50px ;
        }
        .location {
          position: relative;
          font-size: 12px;
          font-family: 'Noto Sans TC', sans-serif;
          color: #fff;
          &-eye {
            position: absolute ;
            bottom: 90% ;
            right: 65% ;
            
          }
          &-house {
            position: absolute;
            left: 0% ;
            bottom: 67% ;
          }
          &-sun {
            position: absolute;
            left: 90% ;
            bottom: 60% ;
          }
          &-logo {
            background-size: contain ;
            background-repeat: no-repeat  ;
            position: relative ;
            width: 200px ;
            height: 200px ;
          }
        }
        .item-center {
          display: flex ;
          justify-content: center ;
          align-items: flex-end ;
        }
        p{
          text-align: center;
        }
      }
      &-bg {
        background-repeat: no-repeat ;
        background-position:bottom 0% right 0% ;
      }
      .sdgs {
        background-repeat: no-repeat;
        background-size: contain;
      }
      .z{
        &-55 {
          z-index: 55;
        }
        &-44 {
          z-index: 44;
        }
        &-33 {
          z-index: 33;
        }
        &-gray {
          z-index: -10;
          right: 0%;
          top: -15%;
        }
        &-green {
          z-index: 1;
        }
      }
      .bg {
        background-repeat: no-repeat ;
        background-size: cover  ;
      }
      .bg-green {
        background-repeat: no-repeat ;
        background-size: 90%  ;
        background-position: 100% 50%  ;
      }
      .gray-right {
        right: 0%;
      }
      .location {
        background-size: contain;
        background-repeat: no-repeat  ;
        position: relative;
        font-size: 30px;
        font-family: 'Noto Sans TC', sans-serif;
        color: #fff;
        &-eye {
          position: absolute;
          bottom: 90%;
          left: 46%;
        }
        &-house {
          position: absolute;
          left: -20% ;
          bottom: 50%;
        }
        &-sun {
          position: absolute;
          left: 85% ;
          bottom: 45%;
        }
        &-logo {
          color: #fff;
          background-size: contain ;
          background-repeat: no-repeat  ;
          background-position: 50% 50% ;
          position: relative ;
        }
      }

      .item-right {
        @media screen and (max-width:1631px) and (min-width:993px) {
          display: flex ;
          background-size: cover ;
          background-position: 50% 50% ;
          align-items: center ;
          justify-content:center ;
        }
        @media screen and (max-width:992px) {
          display: flex ;
          background-size: 100% ;
          align-items: center ;
          justify-content:center ;
        }
      }

      .ms-16 {
        margin-left: 16.93% ;
        @media screen and (max-width: 992px) {
          margin-left: 0% ;
          position: relative;
        }
      }
      .ms-691 {
        margin-left: 36%;
        margin-top: 8%;
        @media screen and (max-width: 992px) {
          margin-left: 0%;
          margin-top: 0%;
          img {
            max-width: 80% ;
            height: auto ;
          }
        }
      }
      .mb-26 {
        margin-bottom: 1.625rem;
      }
      p {
        font-size: 18px;
        line-height: 54px;
      }
    }

    //partner
    .bg-gray {
      background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0.510417) 40.1%, rgba(250, 250, 250, 0.261866) 61.98%, rgba(250, 250, 250, 0) 100%);
      padding: 0 4.17% 0 7.97%;
      background-size: 30%;
      background-repeat: no-repeat;
      height: 551px;
      width: 100%;
    }
    
    .partner {
      // background-repeat: no-repeat ;
      padding: 0 9% 0 16.66%;
      @media screen and (max-width:1820px)  {
        flex-direction: column-reverse;
        h4 {
          text-align: center;
        }
        p {
          display: flex;
          justify-content: center;
          text-align: start;
        }
        .mobile-column-relative {
          position: relative  ;
        }
        .partner-right {
          right: 0%;
        }
        .text-position {
          right: 0% ;
        }
        .mobile-center-1820 {
          display: flex;
          justify-content: center;
        }
        .bg-circle {
          padding-bottom: 1%;
        }
      }
      @media screen and (max-width:992px) {
        padding: 0 9% 0 9%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        br {
            content:"";
            display:none ;
        }
        .logo-wrap {
          max-width: 100%;
          &-bg {
            height:auto ;
            max-width: 100% ;
            width: auto;
            background-position: 50% 50% ;
          }
          .mobil-d-none {
            display: none  ;
          }
        }
        .partner-right {
          justify-content: center;
          position: relative ;
          right: 0% ;
          p {
            br {
              display: none  ;
            }
          }
        }
        .text-position {
          right: 10% ;
          img {
            max-width: 100% ;
            width: auto;
            height: auto;
          }
        }
        .bg-circle {
          max-width: 100% ;
          width: 113px ;
          height: 113px ;
          padding-bottom: 3%;
          div:nth-child(1) {
            line-height: 1.5rem;
            font-size: 12px ;
          }
          div:nth-child(2) {
            font-size: 28px;
            line-height: 36px;
            color: #FD9D24;
          }
        }
        .mobile-center-1820 {
          display: block;
        }
        .mobile-absolute {
          position: relative ;
        }
        .mb-173 {
          margin-bottom: 30%;
        }
      }
      .me-53 {
        margin-right: 53px;
      }
      &-right {
        right: 10%;
      }
    }
    .partner-bg {
      background-repeat: no-repeat ;
      background-position: 76% 100% ;
      padding: 0 5% ;
      @media screen and (max-width:992px) {
        padding: 0% ;
      }
    }
    .z-33 {
      z-index: 33;
      img {
        bottom: 110px;
      }
    }
    .z-44 {
      z-index: 44;
    }
    .z-55 {
      z-index: 55;
    }
    .mb-21 {
      margin-bottom: 21px;
    }
    .mb-173 {
      margin-bottom: 173px;
    }
    .mb-176 {
      margin-bottom: 176.87px;
    }
    .mt-202 {
      margin-top: 202px;
    }
    .bg-circle {
      background-repeat: no-repeat ;
      background-position: 50% 50% ;
      background-size: contain ;
      width: 170px;
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 500;
      padding-bottom: 5%;
      div:nth-child(1) {
        line-height: 1.5rem;
      }
      div:nth-child(2) {
        font-size: 40px;
        line-height: 50px;
        color: #FD9D24;
      }
    }
    .mb-74 {
      margin-bottom: 4.625rem;
    }
    .pb-84 {
      padding-bottom: 84.7px;
    }
    .text-position {
      bottom: 80px;
      right: -25% ;
    }
    .logo-wrap {
      font-family:'Noto Sans TC', sans-serif;
      &-bg {
        height :696.13px;
        width: 738px;
        background-size: contain ;
        background-repeat: no-repeat ;
      }
      .color {
        &-g {
          color: #2AA19C;
        }
        &-b {
          color: #5CB1F6;
        }
        &-y {
          color: #FD9D24;
        }
      }
      img {
        width: 150px;
      }
      button {
        background: none;
        border: none;
        color: #E1E1E1;
        width: 24.34px;
        height: 24.34px;
      }
    }

    // see 
    .see {
      background-repeat: no-repeat ;
      background-position: 0% 50% ;
      padding: 0 16.6%;
      @media screen and (max-width:1433px) and (min-width:993px) {
        .align-items-end {
          align-items: flex-start ;
        }
        .mobile-imgWrap-1433 {
          padding-top: 5% ;
          flex-direction: column;
          .card-absolute {
            position: relative;
          }
          .ms-130 {
            margin-left: 0% ;
          }
        }
      }
      @media screen and (max-width:992px) {
        padding: 0 5%;
        .p-16 {
          padding: 0% ;
        }
        .card-mobil {
          flex-direction: column;
        }
        .download-bar {
          padding: 0 3%;
          display: block ;
          align-items: flex-start ;
          max-width: 100% ;
          width: auto ;
          // .align-items-center {
          //   align-items: flex-start ;
          // }
          &-column {
            flex-direction: column;
            display: block ;
            position: relative;
          }
        }
        .card {
          width: auto ;
          max-width: 100%;
          &-relative {
            top: 0 ;
          }
        }
        .download {
          background-color: #eee ;
          background-size: cover ;
          display: flex ;
          width: auto ;
          height: 72px ;
          text-align: center ;
          border-radius: 5px 5px 0% 0%  ;
        }
        .button-color {
          background: #62CFCA ;
        }
        .download-button {
          display: flex;
          align-items: center;
          height: 50px;
          background: #62CFCA;
          border: none;
          border-radius: 0% 0% 5px 5px ;
          color: #fff;
          max-width: 100%;
          
        }
        .circle {
          position: absolute;
          bottom: 70% ;
          left: -5% ;
        }
        .see-right {
          top: -40%;
        }
      }
      &-right {
        right: 5% ;
      }
      &-absolute {
        position: absolute;
      }
      &-relative {
        position: relative;
        right: 2%;
        bottom: 115px;
      }
      .card {
        background-repeat: no-repeat ;
        background-position: 100% 100% ;
        font-family: 'Noto Sans TC', sans-serif;
        width: 413px;
        &-relative {
          position: relative;
        }
        &-absolute {
          position: absolute;
        }
        img {
          max-width: 45%;
        }
        h4 {
          font-weight: 500;
          line-height: 34.75px;
          span {
            font-size: 18px;
            line-height: 25px;
            color: #999999;

          }
        }
        .mt-20 {
          margin-top: 20px;
        }
        .me-20 {
          margin-right: 20px;
        }
        .ms-130 {
          margin-left: 130px;
        }
        p {
          font-weight: 300;
          line-height: 2rem;
        }

      }
      .card-padding {
        padding: 0 41px 40px 44px;
        @media screen and (max-width:1433px) and (min-width:993px)  {
          padding: 0 1.5% 1.5% 1.5%;
        }
      }
      .circle {
        height: 85px;
        width: 80px;
        background-color: #62CFCA;
        border-radius: 50%;
        display: inline-block;
        left: -1.5%;
      }
      .download-bar {
        width: 590px;
        p {
          color: #999999;
          top: 8px;
        }
      }
      .download {
        background-repeat: no-repeat ;
        background-position: 50% 50% ;
        width: 100%;
        height: 50px;
        background-color: #eee;
      }
      .button {
        height: 50px;
        background: #62CFCA;
        border: none;
        border-radius: 5%;
        color: #fff;

      }
      .p-16 {
        padding: 0% 16.66%;
      }

    }

    // footer 
    footer {
      background: #FAFAFA;
      padding: 53px 16.66% 50px 16.66%;
      font-family: 'Noto Sans TC', sans-serif;
      @media screen and (max-width:992px) {
        .footer-column {
          display: flex;
          flex-direction: column;
        }
      }
      a,i,p {
        color: #9A9999;
      }
      p {
        line-height: 24px;
        margin-bottom: 10px;
        font-size: 14px;
      }
      h6 {
        line-height: 1.5;
        margin-bottom: 12px;
      }

      i {
        margin-right: 5.13px;
      }
      .mb-45 {
        margin-bottom: 45px;
      }
      .me-74 {
        margin-right: 74px;
      }
      .me-171 {
        margin-right: 171.19px;
        @media screen and (max-width:992px) {
          margin-right: 0px;
        }
      }
      .follow{
        a {
          display: flex;
          flex-wrap: nowrap;
        }
      }
      .usefull {
        h6 {
          padding-top: 4px;
          p {
            line-height: 37px;
          }
        }
      }
    }
}